BibUTF8.bib
2026 Перенос излучения/рус/text.aux
2026 Перенос излучения/рус/text.bbl
2026 Перенос излучения/рус/text.blg
2026 Перенос излучения/рус/text.log
2026 Перенос излучения/рус/text.nlo
2026 Перенос излучения/рус/text.pdf
2026 Перенос излучения/рус/text.synctex.gz
