# Auto detect text files and perform LF normalization
* text=auto
*.tex working-tree-encoding=cp1251	eol=crlf

rumyantev.tex working-tree-encoding=utf-8
YarkovProcPEPAN.tex working-tree-encoding=utf-8
